In [5]:
import pandas as pd
df = pd.read_csv("mpesa_transactions.csv")
df.head()

,Transaction_ID,Timestamp,User_ID,Transaction_Type,Amount,Balance_After,Location,Recipient,Status
0,TX08076,01-01-25 00:25,720990980,Buy Goods,577.29,1687.46,Eldoret,NaN,Success
1,TX06520,01-01-25 00:47,798970894,Deposit,1795.90,5631.20,Kericho,NaN,Success
2,TX09722,01-01-25 00:51,751813625,Deposit,838.78,4139.01,Kisumu,NaN,Success
3,TX08527,01-01-25 00:54,787132285,Buy Goods,15.22,0.00,Nairobi,NaN,Success
4,TX07617,01-01-25 01:20,760353583,Paybill,1114.26,4783.44,Machakos,NaN,Success

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction_ID    10000 non-null  object
 1   Timestamp         10000 non-null  object
 2   User_ID           10000 non-null  int64
 3   Transaction_Type  10000 non-null  object
 4   Amount            10000 non-null  float64
 5   Balance_After     10000 non-null  float64
 6   Location          10000 non-null  object
 7   Recipient         2516 non-null   float64
 8   Status            10000 non-null  object
dtypes: float64(3), int64(1), object(5)
memory usage: 703.3+ KB

In [6]:
df.describe()

            User_ID        Amount  Balance_After     Recipient
count  1.000000e+04  10000.000000   10000.000000  2.516000e+03
mean   7.548167e+08   1003.559518    3049.117864  7.544808e+08
std    2.503219e+07   1008.351095    1771.972891  2.508852e+07
min    7.103579e+08      1.060000       0.000000  7.103579e+08
25%    7.332019e+08    286.622500    1788.170000  7.331328e+08
50%    7.573578e+08    703.470000    2966.405000  7.571271e+08
75%    7.752594e+08   1386.672500    4161.105000  7.749611e+08
max    7.999428e+08   9523.510000   11677.710000  7.999428e+08

In [7]:
df.isnull().sum()

Transaction_ID         0
Timestamp              0
User_ID                0
Transaction_Type       0
Amount                 0
Balance_After          0
Location               0
Recipient           7484
Status                 0
dtype: int64

In [10]:
df.duplicated().sum()

0

In [15]:
df['Timestamp'] = pd.to_datetime(df['Timestamp'], format="%Y-%m-%d %H:%M:%S")
df['Month'] = df['Timestamp'].dt.to_period('M')
df['Day'] = df['Timestamp'].dt.date
df['Hour'] = df['Timestamp'].dt.hour

In [17]:
df['Transaction_Type'].value_counts()

Transaction_Type
Paybill          1308
Send Money       1302
Withdraw         1295
Buy Airtime      1250
Reversal         1222
Receive Money    1214
Deposit          1207
Buy Goods        1202
Name: count, dtype: int64

In [18]:
df.groupby('Transaction_Type')['Amount'].sum().sort_values(ascending = False)

Transaction_Type
Withdraw         1353556.44
Paybill          1341479.33
Send Money       1269390.53
Buy Airtime      1254059.20
Deposit          1237793.75
Buy Goods        1228352.58
Reversal         1176858.82
Receive Money    1174104.53
Name: Amount, dtype: float64

In [21]:
df['User_ID'].value_counts().head(10)
df.groupby('User_ID')['Amount'].sum().sort_values(ascending = False).head(10)

User_ID
760353583    40233.04
767365582    40168.22
742697590    39739.10
774997182    39627.69
782827167    37560.16
736741864    37087.02
762785503    36210.41
739798376    36005.27
730480323    35564.95
737976667    35228.61
Name: Amount, dtype: float64

In [ ]:
df['Location'].value_counts()